body {
    font-family: Roboto;
}

.navbar {
    background-color: #e15f41;

}

.nav .nav-link.active {
    color: #e15f41;
    background-color: #fff;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico;
}

.sobre {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}
